h1{
    font-family: Arial;
    color: #333;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background-color: rgb(128, 0, 0);
    color: azure;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 29px 0px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0.5em;
}

#cabecera #tabNav{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 2px solid seagreen;
    margin: 0 auto;
}
#container h1 {
    font-size: 50px;
}